# RStudio stuff

.Rproj.user
isorix.Rproj
.Ruserdata

# heavy files that can easily be generated locally

*.tar.gz
*.tif

# temporary files

.Rhistory
.RData
*.Rout

# vignettes

sources_for_vignettes/**/cache_knitr/
sources_for_vignettes/**/fig_knitr/
sources_for_vignettes/**/*.tif
sources_for_vignettes/**/*.rda
