# RStudio stuff

.Rproj.user
.Ruserdata

# Sublime file
*sublime*


# Windows files
*.db

# Heavy files that can easily be generated locally

*.tar.gz
*.tif
/*.html


# temporary files

.Rhistory
.RData
*.Rout

# local folder

local_trials/
biblio_nonshared/
IsoriX.Rcheck

# Files in vignettes that can easily be generated locally

sources_for_vignettes/**/cache_knitr/
sources_for_vignettes/**/fig_knitr/
sources_for_vignettes/**/*.tif
sources_for_vignettes/**/*.rda
sources_for_vignettes/**/*.dbf
sources_for_vignettes/**/*.shp
sources_for_vignettes/**/*.shx
sources_for_vignettes/**/*.prj
sources_for_vignettes/**/*.asc
sources_for_vignettes/**/*.pdf

