.Rproj.user
.Rhistory
.RData
.Ruserdata
isorix.Rproj
*.html
*.tar.gz
sources_for_vignettes/**/cache_knitr/
sources_for_vignettes/**/fig_knitr/
sources_for_vignettes/**/*.tif
sources_for_vignettes/**/*.rda
