.Rproj.user
.Rhistory
.RData
rsconnect

#local folders

_bookdown_files/
Documentation\_for\_IsoriX\_files/
Documentation\_for\_IsoriX\_cache/
libs/
cache/
data/
input/
output/
docs/

# local files

Documentation\_for\_IsoriX.Rmd
*.Rproh
*.sh
*.cls
*.rds
*.tex
*.css
*.Rproj
*.csl
